* {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  body {
    text-align: center;
  }
  .count-menu {
    width: 40%;
  }
  header h1 {
    letter-spacing: 1.5px;
    padding-top: 50px;
    font-size: 50px;
  }
  .main-count p{
    font-size: 15px;
  }
  .afi2 {
    position: relative;
    top: 100px;
    left: 10px;
  }
}
@media (max-width: 670px) {
  .count-menu {
    width: 67%;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .main {
    margin-left: 0%;
    text-align: center;
  }
  header h1 {
    letter-spacing: 1.5px;
    padding-top: 45px;
    font-size: 25px;
  }
  .result textarea {
    width: 110px;
    height: 29px;
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 0px;
  }

  .reset {
    margin-right: 30px;
  }
  .btns {
    padding-left: 0px;
  }
  .main-count p{
    font-size: 18px;
  }
  span {
    font-size: 14px;
    text-align: center;
  }
  .afi1 {
    display: block;
  }
  .afi2 {
    display: none;
  }
}
